In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
pd.read_csv('example_csv.csv')

   name   age  experience
0  haha  11.0         5.0
1  bibi  22.0         7.0
2  cici  33.0        10.0
3  didi   NaN         3.0
4  eiei  55.0         NaN
5   NaN  66.0        20.0
6   NaN  77.0         NaN

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('practice').getOrCreate()

21/08/23 22:55:29 WARN Utils: Your hostname, tanhongyus-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.3.93 instead (on interface en0)
21/08/23 22:55:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/08/23 22:55:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/08/23 22:55:31 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
spark

In [7]:
df_spark = spark.read.csv('example_csv.csv')

In [8]:
df_spark.show()

+----+----+----------+
| _c0| _c1|       _c2|
+----+----+----------+
|name| age|experience|
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
|null|  66|        20|
|null|  77|      null|
+----+----+----------+

read dataset

In [9]:
df_pyspark = spark.read.option('header','true').csv('example_csv.csv', inferSchema=True)
df_pyspark.show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
|null|  66|        20|
|null|  77|      null|
+----+----+----------+

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

check schema

In [11]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [12]:
df_pyspark = spark.read.csv('example_csv.csv', header=True, inferSchema=True)

In [13]:
df_pyspark.show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
|null|  66|        20|
|null|  77|      null|
+----+----+----------+

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.columns

['name', 'age', 'experience']

In [16]:
df_pyspark.head(2)

[Row(name='haha', age=11, experience=5),
 Row(name='bibi', age=22, experience=7)]

In [17]:
df_pyspark.select(['name','age']).show()

+----+----+
|name| age|
+----+----+
|haha|  11|
|bibi|  22|
|cici|  33|
|didi|null|
|eiei|  55|
|null|  66|
|null|  77|
+----+----+

In [18]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [19]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string, experience: string]

In [20]:
df_pyspark.describe().show()

+-------+----+-----------------+-----------------+
|summary|name|              age|       experience|
+-------+----+-----------------+-----------------+
|  count|   5|                6|                5|
|   mean|null|             44.0|              9.0|
| stddev|null|26.03075104563831|6.670832032063167|
|    min|bibi|               11|                3|
|    max|haha|               77|               20|
+-------+----+-----------------+-----------------+

add columns

In [21]:
df_pyspark = df_pyspark.withColumn('experience', df_pyspark['age']-6)

In [22]:
df_pyspark.show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|        16|
|cici|  33|        27|
|didi|null|      null|
|eiei|  55|        49|
|null|  66|        60|
|null|  77|        71|
+----+----+----------+

drop columns

In [23]:
df_pyspark.drop('experience').show()

+----+----+
|name| age|
+----+----+
|haha|  11|
|bibi|  22|
|cici|  33|
|didi|null|
|eiei|  55|
|null|  66|
|null|  77|
+----+----+

rename colums

In [24]:
df_pyspark.withColumnRenamed('name', 'new_name').show()

+--------+----+----------+
|new_name| age|experience|
+--------+----+----------+
|    haha|  11|         5|
|    bibi|  22|        16|
|    cici|  33|        27|
|    didi|null|      null|
|    eiei|  55|        49|
|    null|  66|        60|
|    null|  77|        71|
+--------+----+----------+

handle missing values

In [25]:
df_pyspark = spark.read.csv('example_csv.csv', header=True, inferSchema=True)

In [26]:
df_pyspark.show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
|null|  66|        20|
|null|  77|      null|
+----+----+----------+

In [27]:
df_pyspark.na.drop(how='any').show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|haha| 11|         5|
|bibi| 22|         7|
|cici| 33|        10|
+----+---+----------+

In [28]:
df_pyspark.na.drop(how='all').show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
|null|  66|        20|
|null|  77|      null|
+----+----+----------+

thresholdm

In [29]:
df_pyspark.na.drop(how='all', thresh=2).show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
|null|  66|        20|
+----+----+----------+

In [30]:
df_pyspark.na.drop(how='all', thresh=1).show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
|null|  66|        20|
|null|  77|      null|
+----+----+----------+

subset

In [31]:
df_pyspark.na.drop(how='any', subset=['experience']).show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|null|  66|        20|
+----+----+----------+

In [32]:
df_pyspark.na.drop(how='any', subset=['name']).show()

+----+----+----------+
|name| age|experience|
+----+----+----------+
|haha|  11|         5|
|bibi|  22|         7|
|cici|  33|        10|
|didi|null|         3|
|eiei|  55|      null|
+----+----+----------+

filling missing values

In [33]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [34]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['age','experience'],
    outputCols = ["{}_imputed".format(c) for c in ['age','experience']]
).setStrategy("mean")

add imputation cols to df

In [35]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----+----+----------+-----------+------------------+
|name| age|experience|age_imputed|experience_imputed|
+----+----+----------+-----------+------------------+
|haha|  11|         5|         11|                 5|
|bibi|  22|         7|         22|                 7|
|cici|  33|        10|         33|                10|
|didi|null|         3|         44|                 3|
|eiei|  55|      null|         55|                 9|
|null|  66|        20|         66|                20|
|null|  77|      null|         77|                 9|
+----+----+----------+-----------+------------------+

filter operation

In [49]:
df_pyspark = spark.read.csv("example_csv2.csv", header=True, inferSchema=True)
df_pyspark.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|cici| 11|         5|
|didi| 22|         7|
|cici| 33|        10|
|didi| 44|         3|
|eiei| 55|         7|
|efef| 66|        20|
|efef| 77|        30|
+----+---+----------+

filter options

In [50]:
df_pyspark.filter('age<33').select('name','age').show()

+----+---+
|name|age|
+----+---+
|cici| 11|
|didi| 22|
+----+---+

In [51]:
df_pyspark.filter(df_pyspark['experience']<=10).show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|cici| 11|         5|
|didi| 22|         7|
|cici| 33|        10|
|didi| 44|         3|
|eiei| 55|         7|
+----+---+----------+

In [52]:
df_pyspark.filter(~(df_pyspark['experience']<=10)).show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|efef| 66|        20|
|efef| 77|        30|
+----+---+----------+

GroupBy

In [53]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [56]:
df_pyspark.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|cici| 11|         5|
|didi| 22|         7|
|cici| 33|        10|
|didi| 44|         3|
|eiei| 55|         7|
|efef| 66|        20|
|efef| 77|        30|
+----+---+----------+

In [54]:
df_pyspark.groupby('name').sum().show()

+----+--------+---------------+
|name|sum(age)|sum(experience)|
+----+--------+---------------+
|didi|      66|             10|
|cici|      44|             15|
|efef|     143|             50|
|eiei|      55|              7|
+----+--------+---------------+

In [55]:
df_pyspark.agg({'age':'sum'}).show()

+--------+
|sum(age)|
+--------+
|     308|
+--------+

In [57]:
df_pyspark.groupby('name').max().show()

+----+--------+---------------+
|name|max(age)|max(experience)|
+----+--------+---------------+
|didi|      44|              7|
|cici|      33|             10|
|efef|      77|             30|
|eiei|      55|              7|
+----+--------+---------------+

Example of ml

In [58]:
df_pyspark = spark.read.csv("Iris.csv", header=True, inferSchema=True)

In [62]:
df_pyspark.show(3)

+---+-------------+------------+-------------+------------+-----------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|
+---+-------------+------------+-------------+------------+-----------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|
+---+-------------+------------+-------------+------------+-----------+
only showing top 3 rows

In [63]:
df_pyspark.columns

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species']

In [64]:
from pyspark.ml.feature import VectorAssembler

In [68]:
feature_assembler = VectorAssembler(inputCols=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'],
                                    outputCol='Independent Features')

In [69]:
output = feature_assembler.transform(df_pyspark)

In [70]:
output.show(3)

+---+-------------+------------+-------------+------------+-----------+--------------------+
| Id|SepalLengthCm|SepalWidthCm|PetalLengthCm|PetalWidthCm|    Species|Independent Features|
+---+-------------+------------+-------------+------------+-----------+--------------------+
|  1|          5.1|         3.5|          1.4|         0.2|Iris-setosa|   [5.1,3.5,1.4,0.2]|
|  2|          4.9|         3.0|          1.4|         0.2|Iris-setosa|   [4.9,3.0,1.4,0.2]|
|  3|          4.7|         3.2|          1.3|         0.2|Iris-setosa|   [4.7,3.2,1.3,0.2]|
+---+-------------+------------+-------------+------------+-----------+--------------------+
only showing top 3 rows

In [71]:
output.columns

['Id',
 'SepalLengthCm',
 'SepalWidthCm',
 'PetalLengthCm',
 'PetalWidthCm',
 'Species',
 'Independent Features']

In [72]:
finalized_data = output.select('Species', "Independent Features"

In [73]:
finalized_data.show(3)

+-----------+--------------------+
|    Species|Independent Features|
+-----------+--------------------+
|Iris-setosa|   [5.1,3.5,1.4,0.2]|
|Iris-setosa|   [4.9,3.0,1.4,0.2]|
|Iris-setosa|   [4.7,3.2,1.3,0.2]|
+-----------+--------------------+
only showing top 3 rows

In [86]:
from pyspark.ml.feature import StringIndexer

In [98]:
labelindexer = StringIndexer(inputCol="Species", outputCol="indexedLabel").fit(finalized_data)

In [100]:
finalized_data = labelindexer.transform(finalized_data)

In [107]:
finalized_data.show(3)

+-----------+--------------------+------------+
|    Species|Independent Features|indexedLabel|
+-----------+--------------------+------------+
|Iris-setosa|   [5.1,3.5,1.4,0.2]|         0.0|
|Iris-setosa|   [4.9,3.0,1.4,0.2]|         0.0|
|Iris-setosa|   [4.7,3.2,1.3,0.2]|         0.0|
+-----------+--------------------+------------+
only showing top 3 rows

In [108]:
finalized_data = finalized_data.select("Independent Features", 'indexedLabel')

In [110]:
finalized_data.show(3)

+--------------------+------------+
|Independent Features|indexedLabel|
+--------------------+------------+
|   [5.1,3.5,1.4,0.2]|         0.0|
|   [4.9,3.0,1.4,0.2]|         0.0|
|   [4.7,3.2,1.3,0.2]|         0.0|
+--------------------+------------+
only showing top 3 rows

In [111]:
from pyspark.ml.regression import LinearRegression

In [112]:
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])

In [113]:
regressor = LinearRegression(featuresCol="Independent Features", labelCol="indexedLabel")

In [114]:
regressor = regressor.fit(train_data)

21/08/23 23:40:00 WARN Instrumentation: [99dd560a] regParam is zero, which might cause numerical instability and overfitting.
21/08/23 23:40:00 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
21/08/23 23:40:00 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
21/08/23 23:40:01 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
21/08/23 23:40:01 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK

In [115]:
regressor.coefficients

DenseVector([-0.1395, -0.0451, 0.2263, 0.6376])

In [116]:
regressor.intercept

0.3338288578967564

In [117]:
pred_results = regressor.evaluate(test_data)

In [119]:
pred_results.predictions.show(15)

+--------------------+------------+--------------------+
|Independent Features|indexedLabel|          prediction|
+--------------------+------------+--------------------+
|   [4.4,3.2,1.3,0.2]|         0.0|-0.00270983598473...|
|   [4.9,3.0,1.4,0.2]|         0.0|-0.04083751604703589|
|   [5.0,3.2,1.2,0.2]|         0.0|-0.10906280202816832|
|   [5.0,3.4,1.5,0.2]|         0.0|-0.05019413360865499|
|   [5.0,3.6,1.4,0.2]|         0.0|-0.08183729420437447|
|   [5.1,3.3,1.7,0.5]|         0.0| 0.17690198405860735|
|   [5.1,3.8,1.5,0.3]|         0.0|-0.01841645188398...|
|   [5.1,3.8,1.6,0.2]|         0.0|-0.05955075117027...|
|   [5.2,3.5,1.5,0.2]|         0.0| -0.0826100715428203|
|   [5.5,2.3,4.0,1.3]|         1.0|  1.1967023974001207|
|   [5.5,2.4,3.7,1.0]|         1.0|  0.9330241543474453|
|   [5.5,2.4,3.8,1.1]|         1.0|   1.019414368141352|
|   [5.5,2.5,4.0,1.3]|         1.0|  1.1876871940582094|
|   [5.5,3.5,1.3,0.2]|         0.0|-0.16972849044525107|
|   [5.5,4.2,1.4,0.2]|         0.0|-0.17865374488813246|
+--------------------+------------+--------------------+
only showing top 15 rows

In [120]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(0.1712567301281799, 0.04900276633711635)